body{
   position: relative;
    background-color:rgb(144, 183, 125);
    margin: 0;
 
}
h2{
    font-family: 'Bebas Neue';
    font-size: 60px;
    position: relative;
    left: 60px;
   display: inline-block;
    margin: 0px;
}
h1{
    display: inline-block;
    font-family: 'Bebas Neue';
    font-size: 60px;
    left: 20px;
    padding: 0px;
    margin: 0px;

}


p{
    padding: 0px;
    margin: 0px;
    line-height: 30px;
    color: #474849;
    font-size: 20px;
    position: relative;
    left: 10px;  
    display: inline-block; 
}

.p-home{
    padding: 0px;
    margin: 0px;
    line-height: 30px;
    color: #474849;
    font-size: 20px;
    position: relative;
    left: 60px;  
    display: inline-block; 
}
img{
    max-width: 100%;
}